.links-block {
    display: block;
    width: 100%;
    border-color: black;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.titles {
    display: flex;
    justify-content: center;
}

.title-blog, .title-shop, .title-note, .title-game{
    display: none;
}

.main-block {
    display: flex;
    justify-content: center;
}

.caption {
    display: flex;
    justify-content: center;
}