@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    font-family: 'Audiowide', cursive;
}

.links-block {
    display: block;
    width: 100%;
    border-color: black;
    margin-top: 100px;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

#title-current {
    color: turquoise;
}

.main-block {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.caption {
    display: flex;
    justify-content: center;
}

#left-button, #right-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}